---
---

$primary: #5b5e63;
$secondary: #c97ce2;
$other: #fff;

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  width: 100%;
  background-color: $primary;
  color: #fff;
  font-family: 'Roboto', 'Tahoma', sans-serif;
}

.no-pm {
  padding: 0;
  margin: 0;
}

h1,
h2 {
  font-family: 'Cabin', 'Trebuchet MS', sans-serif;
}

a {
  color: $secondary;
  text-decoration: none;
  border-bottom: 1px solid $secondary;
}

a:hover {
  color: #eee;
  background-color: $primary;
}

img {
  max-width: 90%;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: $secondary;
  color: #000;
  z-index: 100;
}

nav * {
  vertical-align: middle;
}

nav img {
  height: 1.5em;
  border-radius: 50%;
  margin-right: 5px;
}

nav a {
  display: inline-block;
  padding: 2px;
  color: #000;
  border-bottom: none;
}

nav a:hover {
  background-color: #fff;
  color: #000;
}

header {
  position: relative;
  right: 1em;
  width: 100%;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 2em 1em 1em;
  background-color: $primary;
  color: #eee;
  text-align: center;
}

header img {
  box-shadow: 0 0 10px #eee;
  border-radius: 50%;
  width: 150px;
}

main {
  max-width: 57em;
  margin: 0 auto;
  padding: 0.5em;
  background-color: #36383a;
  color: #fff;
  border-radius: 2px;
}

.col,
.rule,
article {
  padding: 10px;
  border-radius: 5px;
}

.col * {
  margin: 0;
  padding: 0;
}

.col a,
.col a:hover {
  border-bottom: none;
  background: none;
}

.col img {
  border-radius: 50%;
  transition: all 0.2s;
  width: 78px;
  height: 78px;
  transform: scale(1.2);
  margin-bottom: 5px;
}

.col img:hover {
  transform: rotate(360deg) scale(1.3);
  opacity: 0.7;
  border-radius: 5px;
}

.staff-badge {
  display: inline-block;
  padding: 2px;
  font-size: 0.8em;
  background-color: #A4191C;
  color: #fff;
}

.ceo {
  background-color: #00a7a0;
}

.manager {
  background-color: #e900cd;
}

.admin {
  background-color: #4387ff;
}

.mod {
  background-color: #36CC6D;
}

.rule,
article {
  background-color: $secondary;
  color: #000;
  margin: 10px;
  text-align: center;
  transition: transform 0.2s;
}

.rule * {
  vertical-align: middle;
}

.rule span {
  display: inline-block;
  font-size: 2em;
  font-family: 'Cabin', sans-serif;
  margin-right: 5px;
}

h3, h4 {
color: #fff; 
}
.rule a,
article a {
  color: #000;
  border-bottom: 1px solid #eee;
}

.rule a:hover,
article a:hover {
  background-color: #eee;
  color: #222;
}

.rule:hover {
  transform: scale(0.99);
}

article 
{
  margin-bottom: 0;
  padding-bottom: 0;
}

article h2 {
  margin-top: 0;
  padding-top: 0;
}

footer {
  padding: 5px;
  width: calc(100% - 10px);
  text-align: center;
  font-size: 0.7em;
}
@media screen and (max-width: 55em) {
  nav {
    position: inherit;
    text-align: center;
    font-size: 1.2em;
  }

  nav * {
    float: none !important;
  }

  nav a {
    width: 100%;
    border-bottom: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  header {
    margin-top: 0;
  }

  main {
    width: 100%;
  }
}
@media screen and (min-width: 55em) {
  nav span {
    margin: 5px;
  }
}
