<!DOCTYPE html>
<html>
<!--
    dnomaid was here
    https://dnomaid.co.uk
-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link href="/favicon.png" rel="shortcut icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/wing-col.css" rel="stylesheet">
</head>
<body>
  <nav>
    <span style="float: left;"><img src="/logo.png" alt="NC">NC Network</span>
    <span style="float: right;"><a href="/">Home</a></span>
  </nav>
  <main>
