<!DOCTYPE html>
<html>
<!--
    stupid fish was here
    https://dnomaid.co.uk
-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no">
  {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">{% endif %}

  <meta name="theme-color" content="#B10E4C">

  {% if page.author %}
  <meta name="author" content="{{ page.author }}">
  {% else %}
  <meta name="author" content="NC Network">
  {% endif %}

  <meta name="twitter:card" content="summary"/>

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta name="twitter:description" content="{{ page.description }}"/>
  {% endif %}
  <meta property="og:image" content="/img/logo.png">
  <meta name="twitter:image" content="/img/logo.png"/>

  <title>{{ page.title }} - {{ site.title }}</title>
  <meta name="twitter:title" content="{{ page.title }}"/>

  <link href="/img/favicon.png" rel="shortcut icon" type="image/png">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Cabin" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <link href="/css/wing-col.css" rel="stylesheet">
</head>
<body>
  <nav>
    <span style="float: left;">
      <a href="/"><img src="/img/logo.png" alt="NC">NC Network</a>
    </span>
    <span>
    </span>
    <span style="float: right;">
      <a href="/"><i class="fa fa-home fa-fw"></i> Home</a>
      <a href="/#staff"><i class="fa fa-users fa-fw"></i> Staff</a>
      <a href="/rules"><i class="fa fa-list fa-fw"></i> Rules</a>
      <a href="/news"><i class="fa fa-newspaper-o fa-fw"></i> News</a>
      <a href="/join"><i class="fa fa-server fa-fw"></i> Join</a>
      <a href="https://twitter.com/NCNDiscord"><i class="fa fa-twitter fa-fw"></i> Twitter</a>
    </span>
  </nav>
  <header>
    <img src="/img/logo.png" alt="NC" draggable="false">
    <h1>{{ page.title }}</h1>
    {% if page.layout == 'post' %}
    <h3>{{ page.date | date: '%B %d, %Y' }}{% if page.author %} by {{ page.author }}{% endif %}</h3>
    {% endif %}
    {% if page.layout == 'default' %}
    <h3>{% if page.description %}{{ page.description }}{% else %}&nbsp;{% endif %}</h3>
    {% endif %}
  </header>
  <main>
    {% if page.redirect %}
    <h2>Taking you to <b>{{ page.redirect | remove: 'https://' | remove: 'http://' }}</b></h2>
    <p>If nothing happens after a few seconds, you should <a href="{{ page.redirect }}">click here</a>.</p>
    {% endif %}
