<div class="row">
{% for person in site.partners %}
  {% if person.row == 'top' %}
  <div class="col">
    {% if person.logo %}{% if person.link and person.logo %}<a href="{{ person.link }}" title="{{ person.link | remove: 'http://' | remove: 'https://' | remove: 'www.' }}">{% endif %}<img src="{{ person.logo }}" alt="{{ person.alias }}'s logo'" draggable="false">{% if person.link and person.logo %}</a>{% endif %}{% endif %}
    {% if person.name and person.alias %}
    <h3>{{ person.name }}</h3>
    <h4>{{ person.alias }}</h4>
    {% else %}
    <h3>{% if person.alias %}{{ person.alias }}{% else %}{{ person.name }}{% endif %}</h3>
    {% endif %}
        <span class="staff-badge {{ person.type | replace ' ', '-' | downcase }}">{{ person.type }}</span>
  </div>
  {% endif %}
{% endfor %}
</div>

<div class="row">
{% for person in site.partners %}
  {% if person.row == 'bottom' %}
  <div class="col">
    {% if person.logo %}{% if person.link and person.logo %}<a href="{{ person.link }}" title="{{ person.link | remove: 'http://' | remove: 'https://' | remove: 'www.' }}">{% endif %}<img src="{{ person.logo }}" alt="{{ person.alias }}'s logo'" draggable="false">{% if person.link and person.logo %}</a>{% endif %}{% endif %}
    {% if person.name and person.alias %}
    <h3>{{ person.name }}</h3>
    <h4>{{ person.alias }}</h4>
    {% else %}
    <h3>{% if person.alias %}{{ person.alias }}{% else %}{{ person.name }}{% endif %}</h3>
    {% endif %}
        <span class="staff-badge {{ person.type | replace ' ', '-' | downcase }}">{{ person.type }}</span>
  </div>
  {% endif %}
{% endfor %}
</div>
