---
layout: blank
---
<section class="hero is-medium" style="background-image: url('/img/background.png'); no-repeat center center fixed;">
  <div id="hero-head">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="/">
          <p><b>Netsky Community</b></p>
        </a>
      </div>



      <span class="nav-toggle">
        <span></span>
      <span></span>
      <span></span>
      </span>

      <div class="nav-right nav-menu">
        <a class="nav-item" href="/#about">
          <i class="fa fa-question-circle fa-fw" style="margin-right: 5px;"></i> About
        </a>
        <a class="nav-item" href="/#staff">
          <i class="fa fa-wrench fa-fw" style="margin-right: 5px;"></i> Staff
        </a>
        <a class="nav-item" href="/#uploader">
          <i class="fa fa-file-image-o fa-fw" style="margin-right: 5px;"></i> ShareX
        </a>
        <a class="nav-item" target="_blank" href="https://twitter.com/NetskyCommunity">
          <i class="fa fa-twitter fa-fw" target="_blank" style="margin-right: 5px;"></i> Twitter
	      </a>

      </div>
    </nav>
  </div>
// Cori is my daddy
  <div class="hero-body">
    <img src="/img/logo.png" alt="NCNetworkLogo" style="width: 150px; border-radius: 50%;" id="ncnetwork-hero-logo">
    <h1 class="title">Netsky Community</h1>
    <a class="button is-danger" target="_blank" href="https://discord.io/netskycommunity"> <i class="fa  fa-external-link fa-fw" target="_blank" style="margin-right: 5px;"></i> Join Netsky Community</a>
	

  </div>
</section>

{{ content }}

<footer class="footer">
  <div class="container" id="footer-inner">
    <div class="content has-text-centered">
      <p><a href="#"><i class="fa fa-angle-up"></i></a></p>
      <p>
        Copyright &copy; 2017 Netsky Community. Some rights reserved.
        <br> Site by <a href="https://aerofusion.net">AeroFusion</a>, <a href="https://dnomaid.co.uk">dnomaid</a>, and several <a href="https://github.com/NetskyCommunity/NetskyWebsite/graphs/contributors">contributors</a>.
	<br>Licensed by the <a href="https://github.com/NetskyCommunity/NetskyWebsite/blob/master/LICENSE.md">GNU General Public License v3.0</a>.
	      

      </p>
    </div>
  </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(".nav-toggle").click(function() {
    $(".nav-menu").toggleClass('is-active');
    $(".nav-toggle").toggleClass('is-active');
  });

  // Prevent embedding
  if (window.top !== window.self) {
    window.top.location.replace(window.self.location.href);
  }
</script>
